@media screen and (max-width:1024px){
}
@media screen and (max-width:800px){

}
@media screen and (max-width:650px){
	#page {
		.content{
			padding: 0 !important;
		}
	}
}
@media screen and (max-width:500px){
	#page {
		.content{
			.content-circle{
				@include border-radius(0px);
				width: 100%;
				height: calc(100% - 70px) !important;
				background: rgba(52, 152, 219, 0.8);
				
			}
		}
	}
}
@media screen and (max-width:380px){

}
@media screen and (max-width:360px){

}